<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Error | IdeaBox</title>
 
 
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
   <link rel="shortcut icon" type="image/png" href="static/images/favicon.png"/>

   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>

 
</head>
 
<body>
 
        <div class="header">
            <nav>
            <div class="nav-wrapper teal">
                <ul class="right hide-on-med-and-down" id="nav-mobile">
                    <li role="presentation" class=""><a href="/home">Home</a></li>
                    <li role="presentation" class=""> <a href="/profile"> Profile </a> </li>
                    <li role="presentation" class=""> <a href="/newidea"> New Idea </a> </li>
                    <li role="presentation" class=""> <a href="/logout"> Logout </a> </li>
                </ul>
            </div>
            </nav>
        </div>

    <div class="container">
 
        <div class="row">
            <h1>{{error}}</h1>
        </div>
 
    </div>

    <footer class="page-footer teal">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text"> Details </h5>
              <p class="grey-text text-lighten-4">
                More awesome details about ideabox
              </p>
            </div>
            <div class="col l4 offset-12 s12">
              <h5 class="white-text"> Links </h5>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container"> &copy; Andela Idea Box 2017 </div>
        </div>
      </footer>
</body>
 
</html>